body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgb(217, 255, 255);
  padding: 25px;
}

.box-words {
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgb(217, 255, 255);
  padding: 25px;
  color: #0193d6;
}

.box-words h2 {
  color: rgb(15, 98, 131);
}

.box-words h3 {
  color: rgb(15, 98, 131);
}


.navbar {
  background-color: azure;
  color: rgb(15, 98, 131);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: auto;
}

.nav-links {
  font-size: 1.0rem;
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin-right: auto;
}

.nav-links a {
  font-size: 1.0rem;
  color: deepskyblue;
  text-decoration: none;
  transition: 0.3s;
  margin-right: auto;
  background-color: azure;
}

.nav-links a:hover {
  color: #3bbffc;
  font-size: 1.0rem;
  margin-right: auto;
  background-color: azure;
}

.dropdown-menu {
  display: flex;
  position: absolute;
  top: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: azure;
  min-width: 50px;
  z-index: 1000;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu a {
  padding: 10px;
  color: #3bbffc;
  display: block;
  background-color: azure;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-links a:hover,
.dropdown-menu a:hover {
  background-color: rgb(175, 245, 245);
}

.image{
  text-align: center;
}